@model IList<Contato>;

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Opções</th>
    </tr>
    @foreach (var contato in Model)
    {
        <tr>
            <td>@contato.Nome</td>
            <td>@contato.Email</td>
            <td>
                <button class="btn btn-primary">Excluir</button>
            </td>
        </tr>
    }
</table>