@model IList<Contato>;

@{
    ViewData["Title"] = "DashBoard";
}
@section Styles{
    <link rel="stylesheet" href="~/css/dash.css" />
}

<div class="container dash">
    <form class="form-inline" asp-action="Filtar">
        <input name="email" placeholder="Insira o que quer buscar" />
        <input type="submit" value="Buscar" />
    </form>


    @if (Model.Count == 0)
    {
        <p>Não possui nenhum cadastro na base de dados!</p>
    }
    else
    {
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Opções</th>
            </tr>
            @foreach (var contato in Model)
            {
                <tr>
                    <td>@contato.Nome</td>
                    <td>@contato.Email</td>
                    <td>
                        <form asp-action="Remover">
                            <input name="id" type="hidden" value="@contato.ContatoId" />
                            <input type="submit" value="Excluir" class="remove-btn" />
                        </form>
                    </td>
                </tr>
            }
        </table>
    }
</div>
